@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.cdnfonts.com/css/general-sans");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #192420;
  --color-secondary: #1fffa5;

  /* bg */
  --color-neutral: #151e1b;

  /* text color */
  --color-accent: #f5f5f5;
  --color-accent-content: #B2B2B2;
}

.manrope {
  font-family: "Manrope", sans-serif;
}

.general-sans {
  font-family: "General Sans", sans-serif;
}

.highlight-span {
  box-shadow: 0 50px 560px 120px rgba(31, 255, 165, 0.144);
}